* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.heading {
    font-weight: bold;
    text-align: center;
    padding: 2em;
    background-color: #132f3b;
    color: #ffffff;
}

.xstxt {
    font-size: 1em;
    font-style: italic;
}